 header {
  
        position: fixed; 
       top: 0;
        left: 0;
        width: 100%; 
 }
    
    #logo {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center;    /* Centers vertically */
  background-color: white;
}
.pres{
  margin-top: 250px;
}
.formulaire{
  margin-top: 300px;
}