 header {
  
        position: fixed; 
       top: 0;
        left: 0;
        width: 100%; 
 }
    
    #logo {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center;    /* Centers vertically */
  background-color: white;
}
.pres{
  margin-top: 250px;
}
.class1{
  margin-top: 250px;
}
#id1{
font-family: "poppins", sans-serif;
font-size: x-large;
color:darkgoldenrod;
margin-top: 270px;
}
#id2{
 font-family: "poppins", sans-serif; 
 color:darkgoldenrod;
 font-size: x-large;
 margin-left: 100px;
}